/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
  background-color: #0d0d0d;
  background-image: url(/IMG/dagger-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45vh;
  font-family: sans-serif;
}

section {
  text-align: center;
  color: #f1f1f1;
  margin-top: 15rem;
}

h1 {
  margin-bottom: 3rem;
  font-size: calc(2.5rem + 2.5vw);
  line-height: 1.05;

  /* font-size: clamp(50px, 5.5vw, 30rem); */
}
h2 {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
p {
  letter-spacing: -0.5px;
}
p,
a {
  font-family: monospace;
  color: #f1f1f1;
}

a p {
  padding: 3rem;
}
a:hover {
  opacity: 0.5;
}

.system-message {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 100vw;
}
.stat-container {
  padding: 0 2rem;
}
.upgrading,
.wait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This will center the messages */
  width: 100vw;
  animation-name: flashing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0;
  letter-spacing: -1px;
}

.upgrading {
  z-index: 1;
}

.wait {
  z-index: 2;
  animation-delay: 1.5s;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}
